* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: rgb(153, 84, 218);
}

h1 {
  font-size: 3rem;
  margin: 20px 0;
}

.container {
  width: 900px;
  min-height: 500px;
  margin: 30px auto;
  border: 3px solid violet;
  border-radius: 20px;
  display: flex;
}

.usern {
  display: flex;
  align-items: center;
  justify-content: center;
}
